@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?nl4ds8');
  src:  url('icomoon.eot?nl4ds8#iefix') format('embedded-opentype'),
    url('icomoon.ttf?nl4ds8') format('truetype'),
    url('icomoon.woff?nl4ds8') format('woff'),
    url('icomoon.svg?nl4ds8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icomoon-"], [class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-add-circle-sharp:before {
  content: "\e901";
}
.icomoon-add-circle:before {
  content: "\e902";
}
.icomoon-airplane-sharp:before {
  content: "\e907";
}
.icomoon-airplane:before {
  content: "\e908";
}
.icomoon-alarm-sharp:before {
  content: "\e90a";
}
.icomoon-alarm:before {
  content: "\e90b";
}
.icomoon-albums-sharp:before {
  content: "\e90d";
}
.icomoon-albums:before {
  content: "\e90e";
}
.icomoon-alert-circle-sharp:before {
  content: "\e910";
}
.icomoon-alert-circle:before {
  content: "\e911";
}
.icomoon-american-football-sharp:before {
  content: "\e916";
}
.icomoon-american-football:before {
  content: "\e917";
}
.icomoon-analytics-sharp:before {
  content: "\e919";
}
.icomoon-analytics:before {
  content: "\e91a";
}
.icomoon-aperture-sharp:before {
  content: "\e91c";
}
.icomoon-aperture:before {
  content: "\e91d";
}
.icomoon-apps-sharp:before {
  content: "\e91f";
}
.icomoon-apps:before {
  content: "\e920";
}
.icomoon-archive-sharp:before {
  content: "\e922";
}
.icomoon-archive:before {
  content: "\e923";
}
.icomoon-arrow-back-circle-sharp:before {
  content: "\e925";
}
.icomoon-arrow-back-circle:before {
  content: "\e926";
}
.icomoon-arrow-down-circle-sharp:before {
  content: "\e92b";
}
.icomoon-arrow-down-circle:before {
  content: "\e92c";
}
.icomoon-arrow-forward-circle-sharp:before {
  content: "\e931";
}
.icomoon-arrow-forward-circle:before {
  content: "\e932";
}
.icomoon-arrow-redo-circle-sharp:before {
  content: "\e937";
}
.icomoon-arrow-redo-circle:before {
  content: "\e938";
}
.icomoon-arrow-redo-sharp:before {
  content: "\e93a";
}
.icomoon-arrow-redo:before {
  content: "\e93b";
}
.icomoon-arrow-undo-circle-sharp:before {
  content: "\e93d";
}
.icomoon-arrow-undo-circle:before {
  content: "\e93e";
}
.icomoon-arrow-undo-sharp:before {
  content: "\e940";
}
.icomoon-arrow-undo:before {
  content: "\e941";
}
.icomoon-arrow-up-circle-sharp:before {
  content: "\e943";
}
.icomoon-arrow-up-circle:before {
  content: "\e944";
}
.icomoon-at-circle-sharp:before {
  content: "\e949";
}
.icomoon-at-circle:before {
  content: "\e94a";
}
.icomoon-at-sharp:before {
  content: "\e94c";
}
.icomoon-backspace-sharp:before {
  content: "\e952";
}
.icomoon-backspace:before {
  content: "\e953";
}
.icomoon-bandage-sharp:before {
  content: "\e955";
}
.icomoon-bandage:before {
  content: "\e956";
}
.icomoon-bar-chart-sharp:before {
  content: "\e958";
}
.icomoon-bar-chart:before {
  content: "\e959";
}
.icomoon-barbell-sharp:before {
  content: "\e95b";
}
.icomoon-barbell:before {
  content: "\e95c";
}
.icomoon-barcode:before {
  content: "\e95f";
}
.icomoon-baseball-sharp:before {
  content: "\e961";
}
.icomoon-baseball:before {
  content: "\e962";
}
.icomoon-basket-sharp:before {
  content: "\e964";
}
.icomoon-basket:before {
  content: "\e965";
}
.icomoon-basketball-sharp:before {
  content: "\e967";
}
.icomoon-basketball:before {
  content: "\e968";
}
.icomoon-battery-charging-outline:before {
  content: "\e969";
}
.icomoon-battery-charging-sharp:before {
  content: "\e96a";
}
.icomoon-battery-charging:before {
  content: "\e96b";
}
.icomoon-battery-full-sharp:before {
  content: "\e970";
}
.icomoon-battery-half-sharp:before {
  content: "\e973";
}
.icomoon-beaker-sharp:before {
  content: "\e976";
}
.icomoon-beaker:before {
  content: "\e977";
}
.icomoon-bed-sharp:before {
  content: "\e979";
}
.icomoon-bed:before {
  content: "\e97a";
}
.icomoon-beer-sharp:before {
  content: "\e97c";
}
.icomoon-beer:before {
  content: "\e97d";
}
.icomoon-bicycle-sharp:before {
  content: "\e97f";
}
.icomoon-bicycle:before {
  content: "\e980";
}
.icomoon-bluetooth-sharp:before {
  content: "\e982";
}
.icomoon-bluetooth:before {
  content: "\e983";
}
.icomoon-boat-sharp:before {
  content: "\e985";
}
.icomoon-boat:before {
  content: "\e986";
}
.icomoon-body-sharp:before {
  content: "\e988";
}
.icomoon-body:before {
  content: "\e989";
}
.icomoon-bonfire-sharp:before {
  content: "\e98b";
}
.icomoon-bonfire:before {
  content: "\e98c";
}
.icomoon-book-sharp:before {
  content: "\e98e";
}
.icomoon-book:before {
  content: "\e98f";
}
.icomoon-bookmark-sharp:before {
  content: "\e991";
}
.icomoon-bookmark:before {
  content: "\e992";
}
.icomoon-bookmarks-sharp:before {
  content: "\e994";
}
.icomoon-bookmarks:before {
  content: "\e995";
}
.icomoon-briefcase-sharp:before {
  content: "\e997";
}
.icomoon-briefcase:before {
  content: "\e998";
}
.icomoon-browsers-sharp:before {
  content: "\e99a";
}
.icomoon-browsers:before {
  content: "\e99b";
}
.icomoon-brush-sharp:before {
  content: "\e99d";
}
.icomoon-brush:before {
  content: "\e99e";
}
.icomoon-bug-sharp:before {
  content: "\e9a0";
}
.icomoon-bug:before {
  content: "\e9a1";
}
.icomoon-build-sharp:before {
  content: "\e9a3";
}
.icomoon-build:before {
  content: "\e9a4";
}
.icomoon-bulb-sharp:before {
  content: "\e9a6";
}
.icomoon-bulb:before {
  content: "\e9a7";
}
.icomoon-bus-sharp:before {
  content: "\e9a9";
}
.icomoon-bus:before {
  content: "\e9aa";
}
.icomoon-business-sharp:before {
  content: "\e9ac";
}
.icomoon-business:before {
  content: "\e9ad";
}
.icomoon-cafe-sharp:before {
  content: "\e9af";
}
.icomoon-cafe:before {
  content: "\e9b0";
}
.icomoon-calculator-sharp:before {
  content: "\e9b2";
}
.icomoon-calculator:before {
  content: "\e9b3";
}
.icomoon-calendar-sharp:before {
  content: "\e9b5";
}
.icomoon-calendar:before {
  content: "\e9b6";
}
.icomoon-call-sharp:before {
  content: "\e9b8";
}
.icomoon-call:before {
  content: "\e9b9";
}
.icomoon-camera-reverse-sharp:before {
  content: "\e9bc";
}
.icomoon-camera-reverse:before {
  content: "\e9bd";
}
.icomoon-camera-sharp:before {
  content: "\e9be";
}
.icomoon-camera:before {
  content: "\e9bf";
}
.icomoon-car-sharp:before {
  content: "\e9c1";
}
.icomoon-car-sport-sharp:before {
  content: "\e9c3";
}
.icomoon-car-sport:before {
  content: "\e9c4";
}
.icomoon-car:before {
  content: "\e9c5";
}
.icomoon-card-sharp:before {
  content: "\e9c7";
}
.icomoon-card:before {
  content: "\e9c8";
}
.icomoon-caret-back-circle-sharp:before {
  content: "\e9ca";
}
.icomoon-caret-back-circle:before {
  content: "\e9cb";
}
.icomoon-caret-back-outline:before {
  content: "\e9cc";
}
.icomoon-caret-back-sharp:before {
  content: "\e9cd";
}
.icomoon-caret-back:before {
  content: "\e9ce";
}
.icomoon-caret-down-circle-sharp:before {
  content: "\e9d0";
}
.icomoon-caret-down-circle:before {
  content: "\e9d1";
}
.icomoon-caret-down-outline:before {
  content: "\e9d2";
}
.icomoon-caret-down-sharp:before {
  content: "\e9d3";
}
.icomoon-caret-down:before {
  content: "\e9d4";
}
.icomoon-caret-forward-circle-sharp:before {
  content: "\e9d6";
}
.icomoon-caret-forward-circle:before {
  content: "\e9d7";
}
.icomoon-caret-forward-outline:before {
  content: "\e9d8";
}
.icomoon-caret-forward-sharp:before {
  content: "\e9d9";
}
.icomoon-caret-forward:before {
  content: "\e9da";
}
.icomoon-caret-up-circle-sharp:before {
  content: "\e9dc";
}
.icomoon-caret-up-circle:before {
  content: "\e9dd";
}
.icomoon-caret-up-outline:before {
  content: "\e9de";
}
.icomoon-caret-up-sharp:before {
  content: "\e9df";
}
.icomoon-caret-up:before {
  content: "\e9e0";
}
.icomoon-cart-sharp:before {
  content: "\e9e2";
}
.icomoon-cart:before {
  content: "\e9e3";
}
.icomoon-cash-sharp:before {
  content: "\e9e5";
}
.icomoon-cash:before {
  content: "\e9e6";
}
.icomoon-cellular-sharp:before {
  content: "\e9e8";
}
.icomoon-cellular:before {
  content: "\e9e9";
}
.icomoon-chatbox-ellipses-sharp:before {
  content: "\e9eb";
}
.icomoon-chatbox-ellipses:before {
  content: "\e9ec";
}
.icomoon-chatbox-sharp:before {
  content: "\e9ee";
}
.icomoon-chatbox:before {
  content: "\e9ef";
}
.icomoon-chatbubble-ellipses-sharp:before {
  content: "\e9f1";
}
.icomoon-chatbubble-ellipses:before {
  content: "\e9f2";
}
.icomoon-chatbubble-sharp:before {
  content: "\e9f4";
}
.icomoon-chatbubble:before {
  content: "\e9f5";
}
.icomoon-chatbubbles-sharp:before {
  content: "\e9f7";
}
.icomoon-chatbubbles:before {
  content: "\e9f8";
}
.icomoon-checkbox-sharp:before {
  content: "\e9fa";
}
.icomoon-checkbox:before {
  content: "\e9fb";
}
.icomoon-checkmark-circle-sharp:before {
  content: "\e9fd";
}
.icomoon-checkmark-circle:before {
  content: "\e9fe";
}
.icomoon-checkmark-done-circle-sharp:before {
  content: "\ea00";
}
.icomoon-checkmark-done-circle:before {
  content: "\ea01";
}
.icomoon-chevron-back-circle-sharp:before {
  content: "\ea09";
}
.icomoon-chevron-back-circle:before {
  content: "\ea0a";
}
.icomoon-chevron-down-circle-sharp:before {
  content: "\ea0f";
}
.icomoon-chevron-down-circle:before {
  content: "\ea10";
}
.icomoon-chevron-forward-circle-sharp:before {
  content: "\ea15";
}
.icomoon-chevron-forward-circle:before {
  content: "\ea16";
}
.icomoon-chevron-up-circle-sharp:before {
  content: "\ea1b";
}
.icomoon-chevron-up-circle:before {
  content: "\ea1c";
}
.icomoon-clipboard-sharp:before {
  content: "\ea21";
}
.icomoon-clipboard:before {
  content: "\ea22";
}
.icomoon-close-circle-sharp:before {
  content: "\ea24";
}
.icomoon-close-circle:before {
  content: "\ea25";
}
.icomoon-close-sharp:before {
  content: "\ea27";
}
.icomoon-close:before {
  content: "\ea28";
}
.icomoon-cloud-circle-sharp:before {
  content: "\ea2a";
}
.icomoon-cloud-circle:before {
  content: "\ea2b";
}
.icomoon-cloud-done-sharp:before {
  content: "\ea2d";
}
.icomoon-cloud-done:before {
  content: "\ea2e";
}
.icomoon-cloud-download-sharp:before {
  content: "\ea30";
}
.icomoon-cloud-download:before {
  content: "\ea31";
}
.icomoon-cloud-offline-sharp:before {
  content: "\ea33";
}
.icomoon-cloud-offline:before {
  content: "\ea34";
}
.icomoon-cloud-sharp:before {
  content: "\ea36";
}
.icomoon-cloud-upload-sharp:before {
  content: "\ea38";
}
.icomoon-cloud-upload:before {
  content: "\ea39";
}
.icomoon-cloud:before {
  content: "\ea3a";
}
.icomoon-cloudy-night-sharp:before {
  content: "\ea3c";
}
.icomoon-cloudy-night:before {
  content: "\ea3d";
}
.icomoon-cloudy-sharp:before {
  content: "\ea3f";
}
.icomoon-cloudy:before {
  content: "\ea40";
}
.icomoon-code-sharp:before {
  content: "\ea45";
}
.icomoon-code-slash-sharp:before {
  content: "\ea47";
}
.icomoon-code-slash:before {
  content: "\ea48";
}
.icomoon-code:before {
  content: "\ea4c";
}
.icomoon-cog-outline:before {
  content: "\ea4d";
}
.icomoon-cog-sharp:before {
  content: "\ea4e";
}
.icomoon-cog:before {
  content: "\ea4f";
}
.icomoon-color-fill-sharp:before {
  content: "\ea51";
}
.icomoon-color-fill:before {
  content: "\ea52";
}
.icomoon-color-filter-sharp:before {
  content: "\ea54";
}
.icomoon-color-filter:before {
  content: "\ea55";
}
.icomoon-color-palette-sharp:before {
  content: "\ea57";
}
.icomoon-color-palette:before {
  content: "\ea58";
}
.icomoon-color-wand-sharp:before {
  content: "\ea5a";
}
.icomoon-color-wand:before {
  content: "\ea5b";
}
.icomoon-compass-sharp:before {
  content: "\ea5d";
}
.icomoon-compass:before {
  content: "\ea5e";
}
.icomoon-construct-sharp:before {
  content: "\ea60";
}
.icomoon-construct:before {
  content: "\ea61";
}
.icomoon-contrast-sharp:before {
  content: "\ea66";
}
.icomoon-contrast:before {
  content: "\ea67";
}
.icomoon-copy-sharp:before {
  content: "\ea69";
}
.icomoon-copy:before {
  content: "\ea6a";
}
.icomoon-create-sharp:before {
  content: "\ea6c";
}
.icomoon-create:before {
  content: "\ea6d";
}
.icomoon-crop-sharp:before {
  content: "\ea6f";
}
.icomoon-crop:before {
  content: "\ea70";
}
.icomoon-cube-sharp:before {
  content: "\ea72";
}
.icomoon-cube:before {
  content: "\ea73";
}
.icomoon-cut-sharp:before {
  content: "\ea75";
}
.icomoon-cut:before {
  content: "\ea76";
}
.icomoon-desktop-sharp:before {
  content: "\ea78";
}
.icomoon-desktop:before {
  content: "\ea79";
}
.icomoon-disc-sharp:before {
  content: "\ea7b";
}
.icomoon-disc:before {
  content: "\ea7c";
}
.icomoon-document-attach-sharp:before {
  content: "\ea7e";
}
.icomoon-document-attach:before {
  content: "\ea7f";
}
.icomoon-document-sharp:before {
  content: "\ea81";
}
.icomoon-document-text-sharp:before {
  content: "\ea83";
}
.icomoon-document-text:before {
  content: "\ea84";
}
.icomoon-document:before {
  content: "\ea85";
}
.icomoon-documents-sharp:before {
  content: "\ea87";
}
.icomoon-documents:before {
  content: "\ea88";
}
.icomoon-download-sharp:before {
  content: "\ea8a";
}
.icomoon-download:before {
  content: "\ea8b";
}
.icomoon-duplicate-sharp:before {
  content: "\ea8d";
}
.icomoon-duplicate:before {
  content: "\ea8e";
}
.icomoon-ear-sharp:before {
  content: "\ea90";
}
.icomoon-ear:before {
  content: "\ea91";
}
.icomoon-earth-sharp:before {
  content: "\ea93";
}
.icomoon-earth:before {
  content: "\ea94";
}
.icomoon-easel-sharp:before {
  content: "\ea96";
}
.icomoon-easel:before {
  content: "\ea97";
}
.icomoon-egg-sharp:before {
  content: "\ea99";
}
.icomoon-egg:before {
  content: "\ea9a";
}
.icomoon-ellipse-sharp:before {
  content: "\ea9c";
}
.icomoon-ellipse:before {
  content: "\ea9d";
}
.icomoon-ellipsis-horizontal-circle-sharp:before {
  content: "\ea9f";
}
.icomoon-ellipsis-horizontal-sharp:before {
  content: "\eaa2";
}
.icomoon-ellipsis-horizontal:before {
  content: "\eaa3";
}
.icomoon-ellipsis-vertical-circle-sharp:before {
  content: "\eaa5";
}
.icomoon-ellipsis-vertical-sharp:before {
  content: "\eaa8";
}
.icomoon-ellipsis-vertical:before {
  content: "\eaa9";
}
.icomoon-enter-sharp:before {
  content: "\eaab";
}
.icomoon-enter:before {
  content: "\eaac";
}
.icomoon-exit-sharp:before {
  content: "\eaae";
}
.icomoon-exit:before {
  content: "\eaaf";
}
.icomoon-eye-off-outline:before {
  content: "\eab3";
}
.icomoon-eye-off-sharp:before {
  content: "\eab4";
}
.icomoon-eye-off:before {
  content: "\eab5";
}
.icomoon-eye-sharp:before {
  content: "\eab7";
}
.icomoon-eye:before {
  content: "\eab8";
}
.icomoon-eyedrop-sharp:before {
  content: "\eaba";
}
.icomoon-eyedrop:before {
  content: "\eabb";
}
.icomoon-fast-food-sharp:before {
  content: "\eabd";
}
.icomoon-fast-food:before {
  content: "\eabe";
}
.icomoon-female-sharp:before {
  content: "\eac0";
}
.icomoon-female:before {
  content: "\eac1";
}
.icomoon-file-tray-full-sharp:before {
  content: "\eac3";
}
.icomoon-file-tray-full:before {
  content: "\eac4";
}
.icomoon-file-tray-sharp:before {
  content: "\eac6";
}
.icomoon-file-tray-stacked-sharp:before {
  content: "\eac8";
}
.icomoon-file-tray-stacked:before {
  content: "\eac9";
}
.icomoon-file-tray:before {
  content: "\eaca";
}
.icomoon-film-sharp:before {
  content: "\eacc";
}
.icomoon-film:before {
  content: "\eacd";
}
.icomoon-filter-sharp:before {
  content: "\eacf";
}
.icomoon-filter:before {
  content: "\ead0";
}
.icomoon-finger-print-outline:before {
  content: "\ead1";
}
.icomoon-finger-print-sharp:before {
  content: "\ead2";
}
.icomoon-finger-print:before {
  content: "\ead3";
}
.icomoon-fitness-sharp:before {
  content: "\ead5";
}
.icomoon-fitness:before {
  content: "\ead6";
}
.icomoon-flag-sharp:before {
  content: "\ead8";
}
.icomoon-flag:before {
  content: "\ead9";
}
.icomoon-flame-sharp:before {
  content: "\eadb";
}
.icomoon-flame:before {
  content: "\eadc";
}
.icomoon-flash-off-outline:before {
  content: "\eadd";
}
.icomoon-flash-off-sharp:before {
  content: "\eade";
}
.icomoon-flash-off:before {
  content: "\eadf";
}
.icomoon-flash-sharp:before {
  content: "\eae1";
}
.icomoon-flash:before {
  content: "\eae2";
}
.icomoon-flashlight-sharp:before {
  content: "\eae4";
}
.icomoon-flashlight:before {
  content: "\eae5";
}
.icomoon-flask-sharp:before {
  content: "\eae7";
}
.icomoon-flask:before {
  content: "\eae8";
}
.icomoon-flower-sharp:before {
  content: "\eaea";
}
.icomoon-flower:before {
  content: "\eaeb";
}
.icomoon-folder-open-sharp:before {
  content: "\eaed";
}
.icomoon-folder-open:before {
  content: "\eaee";
}
.icomoon-folder-sharp:before {
  content: "\eaf0";
}
.icomoon-folder:before {
  content: "\eaf1";
}
.icomoon-football-sharp:before {
  content: "\eaf3";
}
.icomoon-football:before {
  content: "\eaf4";
}
.icomoon-funnel-sharp:before {
  content: "\eaf6";
}
.icomoon-funnel:before {
  content: "\eaf7";
}
.icomoon-game-controller-sharp:before {
  content: "\eaf9";
}
.icomoon-game-controller:before {
  content: "\eafa";
}
.icomoon-gift-sharp:before {
  content: "\eafc";
}
.icomoon-gift:before {
  content: "\eafd";
}
.icomoon-git-branch-sharp:before {
  content: "\eaff";
}
.icomoon-git-branch:before {
  content: "\eb00";
}
.icomoon-git-commit-sharp:before {
  content: "\eb02";
}
.icomoon-git-commit:before {
  content: "\eb03";
}
.icomoon-git-compare-sharp:before {
  content: "\eb05";
}
.icomoon-git-compare:before {
  content: "\eb06";
}
.icomoon-git-merge-sharp:before {
  content: "\eb08";
}
.icomoon-git-merge:before {
  content: "\eb09";
}
.icomoon-git-network-sharp:before {
  content: "\eb0b";
}
.icomoon-git-network:before {
  content: "\eb0c";
}
.icomoon-git-pull-request-sharp:before {
  content: "\eb0e";
}
.icomoon-git-pull-request:before {
  content: "\eb0f";
}
.icomoon-glasses-sharp:before {
  content: "\eb11";
}
.icomoon-glasses:before {
  content: "\eb12";
}
.icomoon-globe:before {
  content: "\eb15";
}
.icomoon-golf-sharp:before {
  content: "\eb17";
}
.icomoon-golf:before {
  content: "\eb18";
}
.icomoon-grid-sharp:before {
  content: "\eb1a";
}
.icomoon-grid:before {
  content: "\eb1b";
}
.icomoon-hammer-sharp:before {
  content: "\eb1d";
}
.icomoon-hammer:before {
  content: "\eb1e";
}
.icomoon-hand-left-sharp:before {
  content: "\eb20";
}
.icomoon-hand-left:before {
  content: "\eb21";
}
.icomoon-hand-right-sharp:before {
  content: "\eb23";
}
.icomoon-hand-right:before {
  content: "\eb24";
}
.icomoon-happy-sharp:before {
  content: "\eb26";
}
.icomoon-happy:before {
  content: "\eb27";
}
.icomoon-hardware-chip-sharp:before {
  content: "\eb29";
}
.icomoon-hardware-chip:before {
  content: "\eb2a";
}
.icomoon-headset-sharp:before {
  content: "\eb2c";
}
.icomoon-headset:before {
  content: "\eb2d";
}
.icomoon-heart-circle-sharp:before {
  content: "\eb2f";
}
.icomoon-heart-circle:before {
  content: "\eb30";
}
.icomoon-heart-dislike-circle-sharp:before {
  content: "\eb32";
}
.icomoon-heart-dislike-circle:before {
  content: "\eb33";
}
.icomoon-heart-dislike-outline:before {
  content: "\eb34";
}
.icomoon-heart-dislike-sharp:before {
  content: "\eb35";
}
.icomoon-heart-dislike:before {
  content: "\eb36";
}
.icomoon-heart-half-outline:before {
  content: "\eb37";
}
.icomoon-heart-half-sharp:before {
  content: "\eb38";
}
.icomoon-heart-half:before {
  content: "\eb39";
}
.icomoon-heart-sharp:before {
  content: "\eb3b";
}
.icomoon-heart:before {
  content: "\eb3c";
}
.icomoon-help-buoy-sharp:before {
  content: "\eb3e";
}
.icomoon-help-buoy:before {
  content: "\eb3f";
}
.icomoon-help-circle-sharp:before {
  content: "\eb41";
}
.icomoon-help-circle:before {
  content: "\eb42";
}
.icomoon-home-sharp:before {
  content: "\eb47";
}
.icomoon-home:before {
  content: "\eb48";
}
.icomoon-hourglass-sharp:before {
  content: "\eb4a";
}
.icomoon-hourglass:before {
  content: "\eb4b";
}
.icomoon-ice-cream-sharp:before {
  content: "\eb4d";
}
.icomoon-ice-cream:before {
  content: "\eb4e";
}
.icomoon-image-sharp:before {
  content: "\eb50";
}
.icomoon-image:before {
  content: "\eb51";
}
.icomoon-images-sharp:before {
  content: "\eb53";
}
.icomoon-images:before {
  content: "\eb54";
}
.icomoon-infinite-sharp:before {
  content: "\eb56";
}
.icomoon-information-circle-sharp:before {
  content: "\eb59";
}
.icomoon-information-circle:before {
  content: "\eb5a";
}
.icomoon-journal-sharp:before {
  content: "\eb5f";
}
.icomoon-journal:before {
  content: "\eb60";
}
.icomoon-key-sharp:before {
  content: "\eb62";
}
.icomoon-key:before {
  content: "\eb63";
}
.icomoon-keypad-sharp:before {
  content: "\eb65";
}
.icomoon-keypad:before {
  content: "\eb66";
}
.icomoon-language-sharp:before {
  content: "\eb68";
}
.icomoon-language:before {
  content: "\eb69";
}
.icomoon-laptop-sharp:before {
  content: "\eb6b";
}
.icomoon-laptop:before {
  content: "\eb6c";
}
.icomoon-layers-sharp:before {
  content: "\eb6e";
}
.icomoon-layers:before {
  content: "\eb6f";
}
.icomoon-leaf-sharp:before {
  content: "\eb71";
}
.icomoon-leaf:before {
  content: "\eb72";
}
.icomoon-library-sharp:before {
  content: "\eb74";
}
.icomoon-library:before {
  content: "\eb75";
}
.icomoon-list-circle-sharp:before {
  content: "\eb7a";
}
.icomoon-list-circle:before {
  content: "\eb7b";
}
.icomoon-location-sharp:before {
  content: "\eb83";
}
.icomoon-location:before {
  content: "\eb84";
}
.icomoon-lock-closed-sharp:before {
  content: "\eb86";
}
.icomoon-lock-closed:before {
  content: "\eb87";
}
.icomoon-lock-open-sharp:before {
  content: "\eb89";
}
.icomoon-lock-open:before {
  content: "\eb8a";
}
.icomoon-log-in-sharp:before {
  content: "\eb8c";
}
.icomoon-log-in:before {
  content: "\eb8d";
}
.icomoon-log-out-sharp:before {
  content: "\eb8f";
}
.icomoon-log-out:before {
  content: "\eb90";
}
.icomoon-logo-amazon:before {
  content: "\eb91";
}
.icomoon-logo-amplify:before {
  content: "\eb92";
}
.icomoon-logo-android:before {
  content: "\eb93";
}
.icomoon-logo-angular:before {
  content: "\eb94";
}
.icomoon-logo-apple-appstore:before {
  content: "\eb95";
}
.icomoon-logo-apple:before {
  content: "\eb96";
}
.icomoon-logo-behance:before {
  content: "\eb97";
}
.icomoon-logo-bitbucket:before {
  content: "\eb98";
}
.icomoon-logo-bitcoin:before {
  content: "\eb99";
}
.icomoon-logo-buffer:before {
  content: "\eb9a";
}
.icomoon-logo-capacitor:before {
  content: "\eb9b";
}
.icomoon-logo-chrome:before {
  content: "\eb9c";
}
.icomoon-logo-closed-captioning:before {
  content: "\eb9d";
}
.icomoon-logo-codepen:before {
  content: "\eb9e";
}
.icomoon-logo-css3:before {
  content: "\eb9f";
}
.icomoon-logo-designernews:before {
  content: "\eba0";
}
.icomoon-logo-docker:before {
  content: "\eba1";
}
.icomoon-logo-dribbble:before {
  content: "\eba2";
}
.icomoon-logo-dropbox:before {
  content: "\eba3";
}
.icomoon-logo-edge:before {
  content: "\eba4";
}
.icomoon-logo-electron:before {
  content: "\eba5";
}
.icomoon-logo-euro:before {
  content: "\eba6";
}
.icomoon-logo-facebook:before {
  content: "\eba7";
}
.icomoon-logo-firebase:before {
  content: "\eba8";
}
.icomoon-logo-firefox:before {
  content: "\eba9";
}
.icomoon-logo-flickr:before {
  content: "\ebaa";
}
.icomoon-logo-foursquare:before {
  content: "\ebab";
}
.icomoon-logo-github:before {
  content: "\ebac";
}
.icomoon-logo-gitlab:before {
  content: "\ebad";
}
.icomoon-logo-google-playstore:before {
  content: "\ebae";
}
.icomoon-logo-google:before {
  content: "\ebaf";
}
.icomoon-logo-hackernews:before {
  content: "\ebb0";
}
.icomoon-logo-html5:before {
  content: "\ebb1";
}
.icomoon-logo-instagram:before {
  content: "\ebb2";
}
.icomoon-logo-ionic:before {
  content: "\ebb3";
}
.icomoon-logo-ionitron:before {
  content: "\ebb4";
}
.icomoon-logo-javascript:before {
  content: "\ebb5";
}
.icomoon-logo-laravel:before {
  content: "\ebb6";
}
.icomoon-logo-linkedin:before {
  content: "\ebb7";
}
.icomoon-logo-markdown:before {
  content: "\ebb8";
}
.icomoon-logo-medium:before {
  content: "\ebb9";
}
.icomoon-logo-no-smoking:before {
  content: "\ebba";
}
.icomoon-logo-nodejs:before {
  content: "\ebbb";
}
.icomoon-logo-npm:before {
  content: "\ebbc";
}
.icomoon-logo-octocat:before {
  content: "\ebbd";
}
.icomoon-logo-paypal:before {
  content: "\ebbe";
}
.icomoon-logo-pinterest:before {
  content: "\ebbf";
}
.icomoon-logo-playstation:before {
  content: "\ebc0";
}
.icomoon-logo-pwa:before {
  content: "\ebc1";
}
.icomoon-logo-python:before {
  content: "\ebc2";
}
.icomoon-logo-react:before {
  content: "\ebc3";
}
.icomoon-logo-reddit:before {
  content: "\ebc4";
}
.icomoon-logo-rss:before {
  content: "\ebc5";
}
.icomoon-logo-sass:before {
  content: "\ebc6";
}
.icomoon-logo-skype:before {
  content: "\ebc7";
}
.icomoon-logo-slack:before {
  content: "\ebc8";
}
.icomoon-logo-snapchat:before {
  content: "\ebc9";
}
.icomoon-logo-soundcloud:before {
  content: "\ebca";
}
.icomoon-logo-stackoverflow:before {
  content: "\ebcb";
}
.icomoon-logo-steam:before {
  content: "\ebcc";
}
.icomoon-logo-stencil:before {
  content: "\ebcd";
}
.icomoon-logo-tiktok:before {
  content: "\ebce";
}
.icomoon-logo-tumblr:before {
  content: "\ebcf";
}
.icomoon-logo-tux:before {
  content: "\ebd0";
}
.icomoon-logo-twitch:before {
  content: "\ebd1";
}
.icomoon-logo-twitter:before {
  content: "\ebd2";
}
.icomoon-logo-usd:before {
  content: "\ebd3";
}
.icomoon-logo-venmo:before {
  content: "\ebd4";
}
.icomoon-logo-vimeo:before {
  content: "\ebd5";
}
.icomoon-logo-vk:before {
  content: "\ebd6";
}
.icomoon-logo-vue:before {
  content: "\ebd7";
}
.icomoon-logo-web-component:before {
  content: "\ebd8";
}
.icomoon-logo-whatsapp:before {
  content: "\ebd9";
}
.icomoon-logo-windows:before {
  content: "\ebda";
}
.icomoon-logo-wordpress:before {
  content: "\ebdb";
}
.icomoon-logo-xbox:before {
  content: "\ebdc";
}
.icomoon-logo-xing:before {
  content: "\ebdd";
}
.icomoon-logo-yahoo:before {
  content: "\ebde";
}
.icomoon-logo-yen:before {
  content: "\ebdf";
}
.icomoon-logo-youtube:before {
  content: "\ebe0";
}
.icomoon-mail-open-sharp:before {
  content: "\ebe5";
}
.icomoon-mail-open:before {
  content: "\ebe6";
}
.icomoon-mail-sharp:before {
  content: "\ebe8";
}
.icomoon-mail-unread-sharp:before {
  content: "\ebea";
}
.icomoon-mail-unread:before {
  content: "\ebeb";
}
.icomoon-mail:before {
  content: "\ebec";
}
.icomoon-male-female-sharp:before {
  content: "\ebee";
}
.icomoon-male-female:before {
  content: "\ebef";
}
.icomoon-male-sharp:before {
  content: "\ebf1";
}
.icomoon-male:before {
  content: "\ebf2";
}
.icomoon-man-sharp:before {
  content: "\ebf4";
}
.icomoon-man:before {
  content: "\ebf5";
}
.icomoon-map-sharp:before {
  content: "\ebf7";
}
.icomoon-map:before {
  content: "\ebf8";
}
.icomoon-medal-sharp:before {
  content: "\ebfa";
}
.icomoon-medal:before {
  content: "\ebfb";
}
.icomoon-medical-sharp:before {
  content: "\ebfd";
}
.icomoon-medical:before {
  content: "\ebfe";
}
.icomoon-medkit-sharp:before {
  content: "\ec00";
}
.icomoon-medkit:before {
  content: "\ec01";
}
.icomoon-megaphone-sharp:before {
  content: "\ec03";
}
.icomoon-megaphone:before {
  content: "\ec04";
}
.icomoon-menu-sharp:before {
  content: "\ec06";
}
.icomoon-mic-circle-sharp:before {
  content: "\ec09";
}
.icomoon-mic-circle:before {
  content: "\ec0a";
}
.icomoon-mic-off-circle-outline:before {
  content: "\ec0b";
}
.icomoon-mic-off-circle-sharp:before {
  content: "\ec0c";
}
.icomoon-mic-off-circle:before {
  content: "\ec0d";
}
.icomoon-moon-sharp:before {
  content: "\ec15";
}
.icomoon-moon:before {
  content: "\ec16";
}
.icomoon-musical-note-sharp:before {
  content: "\ec1b";
}
.icomoon-musical-note:before {
  content: "\ec1c";
}
.icomoon-musical-notes-sharp:before {
  content: "\ec1e";
}
.icomoon-musical-notes:before {
  content: "\ec1f";
}
.icomoon-navigate-circle-sharp:before {
  content: "\ec21";
}
.icomoon-navigate-circle:before {
  content: "\ec22";
}
.icomoon-navigate-sharp:before {
  content: "\ec24";
}
.icomoon-navigate:before {
  content: "\ec25";
}
.icomoon-newspaper-sharp:before {
  content: "\ec27";
}
.icomoon-newspaper:before {
  content: "\ec28";
}
.icomoon-notifications-circle-sharp:before {
  content: "\ec2a";
}
.icomoon-notifications-circle:before {
  content: "\ec2b";
}
.icomoon-notifications-off-circle-sharp:before {
  content: "\ec2d";
}
.icomoon-notifications-off-circle:before {
  content: "\ec2e";
}
.icomoon-notifications-off-sharp:before {
  content: "\ec30";
}
.icomoon-notifications-off:before {
  content: "\ec31";
}
.icomoon-notifications-sharp:before {
  content: "\ec33";
}
.icomoon-notifications:before {
  content: "\ec34";
}
.icomoon-nuclear-sharp:before {
  content: "\ec36";
}
.icomoon-nuclear:before {
  content: "\ec37";
}
.icomoon-nutrition-sharp:before {
  content: "\ec39";
}
.icomoon-nutrition:before {
  content: "\ec3a";
}
.icomoon-open-sharp:before {
  content: "\ec3c";
}
.icomoon-open:before {
  content: "\ec3d";
}
.icomoon-options-sharp:before {
  content: "\ec3f";
}
.icomoon-options:before {
  content: "\ec40";
}
.icomoon-paper-plane-sharp:before {
  content: "\ec42";
}
.icomoon-paper-plane:before {
  content: "\ec43";
}
.icomoon-partly-sunny-sharp:before {
  content: "\ec45";
}
.icomoon-partly-sunny:before {
  content: "\ec46";
}
.icomoon-pause-circle-sharp:before {
  content: "\ec48";
}
.icomoon-pause-circle:before {
  content: "\ec49";
}
.icomoon-pause-sharp:before {
  content: "\ec4b";
}
.icomoon-pause:before {
  content: "\ec4c";
}
.icomoon-paw-sharp:before {
  content: "\ec4e";
}
.icomoon-paw:before {
  content: "\ec4f";
}
.icomoon-pencil-sharp:before {
  content: "\ec51";
}
.icomoon-people-circle-outline:before {
  content: "\ec53";
}
.icomoon-people-circle-sharp:before {
  content: "\ec54";
}
.icomoon-people-circle:before {
  content: "\ec55";
}
.icomoon-people-sharp:before {
  content: "\ec57";
}
.icomoon-people:before {
  content: "\ec58";
}
.icomoon-person-add-sharp:before {
  content: "\ec5a";
}
.icomoon-person-add:before {
  content: "\ec5b";
}
.icomoon-person-circle-outline:before {
  content: "\ec5c";
}
.icomoon-person-circle-sharp:before {
  content: "\ec5d";
}
.icomoon-person-circle:before {
  content: "\ec5e";
}
.icomoon-person-remove-sharp:before {
  content: "\ec61";
}
.icomoon-person-remove:before {
  content: "\ec62";
}
.icomoon-person-sharp:before {
  content: "\ec63";
}
.icomoon-person:before {
  content: "\ec64";
}
.icomoon-phone-landscape-sharp:before {
  content: "\ec66";
}
.icomoon-phone-landscape:before {
  content: "\ec67";
}
.icomoon-phone-portrait-sharp:before {
  content: "\ec69";
}
.icomoon-phone-portrait:before {
  content: "\ec6a";
}
.icomoon-pie-chart-sharp:before {
  content: "\ec6c";
}
.icomoon-pie-chart:before {
  content: "\ec6d";
}
.icomoon-pin-sharp:before {
  content: "\ec6f";
}
.icomoon-pin:before {
  content: "\ec70";
}
.icomoon-pint-sharp:before {
  content: "\ec72";
}
.icomoon-pint:before {
  content: "\ec73";
}
.icomoon-pizza-sharp:before {
  content: "\ec75";
}
.icomoon-pizza:before {
  content: "\ec76";
}
.icomoon-planet-sharp:before {
  content: "\ec78";
}
.icomoon-planet:before {
  content: "\ec79";
}
.icomoon-play-back-circle-sharp:before {
  content: "\ec7b";
}
.icomoon-play-back-circle:before {
  content: "\ec7c";
}
.icomoon-play-back-sharp:before {
  content: "\ec7e";
}
.icomoon-play-back:before {
  content: "\ec7f";
}
.icomoon-play-circle-sharp:before {
  content: "\ec81";
}
.icomoon-play-circle:before {
  content: "\ec82";
}
.icomoon-play-forward-circle-sharp:before {
  content: "\ec84";
}
.icomoon-play-forward-circle:before {
  content: "\ec85";
}
.icomoon-play-forward-sharp:before {
  content: "\ec87";
}
.icomoon-play-forward:before {
  content: "\ec88";
}
.icomoon-play-sharp:before {
  content: "\ec8a";
}
.icomoon-play-skip-back-circle-sharp:before {
  content: "\ec8c";
}
.icomoon-play-skip-back-circle:before {
  content: "\ec8d";
}
.icomoon-play-skip-back-sharp:before {
  content: "\ec8f";
}
.icomoon-play-skip-back:before {
  content: "\ec90";
}
.icomoon-play-skip-forward-circle-sharp:before {
  content: "\ec92";
}
.icomoon-play-skip-forward-circle:before {
  content: "\ec93";
}
.icomoon-play-skip-forward-sharp:before {
  content: "\ec95";
}
.icomoon-play-skip-forward:before {
  content: "\ec96";
}
.icomoon-play:before {
  content: "\ec97";
}
.icomoon-podium-sharp:before {
  content: "\ec99";
}
.icomoon-podium:before {
  content: "\ec9a";
}
.icomoon-power-sharp:before {
  content: "\ec9c";
}
.icomoon-power:before {
  content: "\ec9d";
}
.icomoon-pricetag-sharp:before {
  content: "\ec9f";
}
.icomoon-pricetag:before {
  content: "\eca0";
}
.icomoon-pricetags-sharp:before {
  content: "\eca2";
}
.icomoon-pricetags:before {
  content: "\eca3";
}
.icomoon-print-sharp:before {
  content: "\eca5";
}
.icomoon-print:before {
  content: "\eca6";
}
.icomoon-pulse-sharp:before {
  content: "\eca8";
}
.icomoon-pulse:before {
  content: "\eca9";
}
.icomoon-push-sharp:before {
  content: "\ecab";
}
.icomoon-push:before {
  content: "\ecac";
}
.icomoon-qr-code-sharp:before {
  content: "\ecae";
}
.icomoon-qr-code:before {
  content: "\ecaf";
}
.icomoon-radio-sharp:before {
  content: "\ecb7";
}
.icomoon-radio:before {
  content: "\ecb8";
}
.icomoon-rainy-sharp:before {
  content: "\ecba";
}
.icomoon-rainy:before {
  content: "\ecbb";
}
.icomoon-reader-sharp:before {
  content: "\ecbd";
}
.icomoon-reader:before {
  content: "\ecbe";
}
.icomoon-receipt-sharp:before {
  content: "\ecc0";
}
.icomoon-receipt:before {
  content: "\ecc1";
}
.icomoon-recording-sharp:before {
  content: "\ecc3";
}
.icomoon-recording:before {
  content: "\ecc4";
}
.icomoon-refresh-circle-sharp:before {
  content: "\ecc6";
}
.icomoon-refresh-circle:before {
  content: "\ecc7";
}
.icomoon-reload-circle-sharp:before {
  content: "\eccc";
}
.icomoon-reload-circle:before {
  content: "\eccd";
}
.icomoon-remove-circle-sharp:before {
  content: "\ecd2";
}
.icomoon-remove-circle:before {
  content: "\ecd3";
}
.icomoon-restaurant-sharp:before {
  content: "\ece7";
}
.icomoon-restaurant:before {
  content: "\ece8";
}
.icomoon-ribbon-sharp:before {
  content: "\ecf6";
}
.icomoon-ribbon:before {
  content: "\ecf7";
}
.icomoon-rocket-sharp:before {
  content: "\ecf9";
}
.icomoon-rocket:before {
  content: "\ecfa";
}
.icomoon-rose-sharp:before {
  content: "\ecfc";
}
.icomoon-rose:before {
  content: "\ecfd";
}
.icomoon-sad-sharp:before {
  content: "\ecff";
}
.icomoon-sad:before {
  content: "\ed00";
}
.icomoon-save-sharp:before {
  content: "\ed02";
}
.icomoon-save:before {
  content: "\ed03";
}
.icomoon-scan-circle-sharp:before {
  content: "\ed05";
}
.icomoon-scan-circle:before {
  content: "\ed06";
}
.icomoon-scan-sharp:before {
  content: "\ed08";
}
.icomoon-school-sharp:before {
  content: "\ed0b";
}
.icomoon-school:before {
  content: "\ed0c";
}
.icomoon-search-circle-sharp:before {
  content: "\ed0e";
}
.icomoon-search-circle:before {
  content: "\ed0f";
}
.icomoon-search-sharp:before {
  content: "\ed11";
}
.icomoon-search:before {
  content: "\ed12";
}
.icomoon-send-sharp:before {
  content: "\ed14";
}
.icomoon-send:before {
  content: "\ed15";
}
.icomoon-server-sharp:before {
  content: "\ed17";
}
.icomoon-server:before {
  content: "\ed18";
}
.icomoon-settings-sharp:before {
  content: "\ed1a";
}
.icomoon-settings:before {
  content: "\ed1b";
}
.icomoon-shapes-sharp:before {
  content: "\ed1d";
}
.icomoon-shapes:before {
  content: "\ed1e";
}
.icomoon-share-sharp:before {
  content: "\ed20";
}
.icomoon-share-social-sharp:before {
  content: "\ed22";
}
.icomoon-share-social:before {
  content: "\ed23";
}
.icomoon-share:before {
  content: "\ed24";
}
.icomoon-shield-checkmark-sharp:before {
  content: "\ed26";
}
.icomoon-shield-checkmark:before {
  content: "\ed27";
}
.icomoon-shield-sharp:before {
  content: "\ed29";
}
.icomoon-shield:before {
  content: "\ed2a";
}
.icomoon-shirt-sharp:before {
  content: "\ed2c";
}
.icomoon-shirt:before {
  content: "\ed2d";
}
.icomoon-skull-sharp:before {
  content: "\ed32";
}
.icomoon-skull:before {
  content: "\ed33";
}
.icomoon-snow-sharp:before {
  content: "\ed35";
}
.icomoon-snow:before {
  content: "\ed36";
}
.icomoon-speedometer-sharp:before {
  content: "\ed38";
}
.icomoon-speedometer:before {
  content: "\ed39";
}
.icomoon-square-sharp:before {
  content: "\ed3b";
}
.icomoon-square:before {
  content: "\ed3c";
}
.icomoon-star-half-sharp:before {
  content: "\ed3e";
}
.icomoon-star-sharp:before {
  content: "\ed41";
}
.icomoon-star:before {
  content: "\ed42";
}
.icomoon-stats-chart-sharp:before {
  content: "\ed44";
}
.icomoon-stats-chart:before {
  content: "\ed45";
}
.icomoon-stop-circle-sharp:before {
  content: "\ed47";
}
.icomoon-stop-circle:before {
  content: "\ed48";
}
.icomoon-stop-sharp:before {
  content: "\ed4a";
}
.icomoon-stop:before {
  content: "\ed4b";
}
.icomoon-stopwatch-sharp:before {
  content: "\ed4d";
}
.icomoon-stopwatch:before {
  content: "\ed4e";
}
.icomoon-subway-sharp:before {
  content: "\ed50";
}
.icomoon-subway:before {
  content: "\ed51";
}
.icomoon-sunny-sharp:before {
  content: "\ed53";
}
.icomoon-sunny:before {
  content: "\ed54";
}
.icomoon-sync-circle-sharp:before {
  content: "\ed5c";
}
.icomoon-sync-circle:before {
  content: "\ed5d";
}
.icomoon-tablet-landscape-sharp:before {
  content: "\ed62";
}
.icomoon-tablet-landscape:before {
  content: "\ed63";
}
.icomoon-tablet-portrait-sharp:before {
  content: "\ed65";
}
.icomoon-tablet-portrait:before {
  content: "\ed66";
}
.icomoon-tennisball-sharp:before {
  content: "\ed68";
}
.icomoon-tennisball:before {
  content: "\ed69";
}
.icomoon-terminal-sharp:before {
  content: "\ed6b";
}
.icomoon-terminal:before {
  content: "\ed6c";
}
.icomoon-text-sharp:before {
  content: "\ed6e";
}
.icomoon-text:before {
  content: "\ed6f";
}
.icomoon-thermometer-sharp:before {
  content: "\ed71";
}
.icomoon-thermometer:before {
  content: "\ed72";
}
.icomoon-thumbs-down-sharp:before {
  content: "\ed74";
}
.icomoon-thumbs-down:before {
  content: "\ed75";
}
.icomoon-thumbs-up-sharp:before {
  content: "\ed77";
}
.icomoon-thumbs-up:before {
  content: "\ed78";
}
.icomoon-thunderstorm-sharp:before {
  content: "\ed7a";
}
.icomoon-thunderstorm:before {
  content: "\ed7b";
}
.icomoon-time-sharp:before {
  content: "\ed7d";
}
.icomoon-time:before {
  content: "\ed7e";
}
.icomoon-timer-sharp:before {
  content: "\ed80";
}
.icomoon-timer:before {
  content: "\ed81";
}
.icomoon-today-sharp:before {
  content: "\ed83";
}
.icomoon-today:before {
  content: "\ed84";
}
.icomoon-toggle-sharp:before {
  content: "\ed86";
}
.icomoon-toggle:before {
  content: "\ed87";
}
.icomoon-trail-sign-sharp:before {
  content: "\ed89";
}
.icomoon-trail-sign:before {
  content: "\ed8a";
}
.icomoon-train-sharp:before {
  content: "\ed8c";
}
.icomoon-train:before {
  content: "\ed8d";
}
.icomoon-transgender-sharp:before {
  content: "\ed8f";
}
.icomoon-transgender:before {
  content: "\ed90";
}
.icomoon-trash-bin-sharp:before {
  content: "\ed92";
}
.icomoon-trash-bin:before {
  content: "\ed93";
}
.icomoon-trash-sharp:before {
  content: "\ed95";
}
.icomoon-trash:before {
  content: "\ed96";
}
.icomoon-triangle-sharp:before {
  content: "\ed9e";
}
.icomoon-triangle:before {
  content: "\ed9f";
}
.icomoon-trophy-sharp:before {
  content: "\eda1";
}
.icomoon-trophy:before {
  content: "\eda2";
}
.icomoon-tv-sharp:before {
  content: "\eda4";
}
.icomoon-umbrella-sharp:before {
  content: "\eda7";
}
.icomoon-umbrella:before {
  content: "\eda8";
}
.icomoon-videocam-sharp:before {
  content: "\edaa";
}
.icomoon-videocam:before {
  content: "\edab";
}
.icomoon-volume-high:before {
  content: "\edae";
}
.icomoon-volume-low-sharp:before {
  content: "\edb0";
}
.icomoon-volume-low:before {
  content: "\edb1";
}
.icomoon-volume-medium:before {
  content: "\edb4";
}
.icomoon-volume-off-sharp:before {
  content: "\edb9";
}
.icomoon-volume-off:before {
  content: "\edba";
}
.icomoon-wallet-sharp:before {
  content: "\edbf";
}
.icomoon-wallet:before {
  content: "\edc0";
}
.icomoon-warning-sharp:before {
  content: "\edc2";
}
.icomoon-warning:before {
  content: "\edc3";
}
.icomoon-watch-sharp:before {
  content: "\edc5";
}
.icomoon-watch:before {
  content: "\edc6";
}
.icomoon-water-sharp:before {
  content: "\edc8";
}
.icomoon-water:before {
  content: "\edc9";
}
.icomoon-wifi:before {
  content: "\edcc";
}
.icomoon-wine-sharp:before {
  content: "\edce";
}
.icomoon-wine:before {
  content: "\edcf";
}
.icomoon-woman-sharp:before {
  content: "\edd1";
}
.icomoon-woman:before {
  content: "\edd2";
}
