<div id="mm-content-wrapper" class="full-page">
  <div class="w-100 h-100">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 h-100">
          <div class="dashboard-wrapper">
            <div class="box-header d-flex align-items-center">
              <h1 class="header-title lay-color-outer-space m-0">
                MoneyManager
              </h1>
            </div>
            <div class="box-months d-flex align-items-center px-5">
              <div class="row no-gutters w-100 text-center lay-color-outer-space">
                <div class="col-4">
                  Jan
                </div>
                <div class="col-4 font-weight-bold">
                  Feb
                </div>
                <div class="col-4">
                  May
                </div>
              </div>
            </div>
            <div class="box-values">
              <div class="row no-gutters h-100">
                <div class="col-8 h-100">
                  <div class="w-100 h-100 d-flex flex-column align-items-center">
                    <div class="balance w-100 h-100 d-flex flex-column justify-content-center">
                      <div class="w-100 lay-color-aluminium">
                        Balance
                      </div>
                      <div class="w-100 main-value lay-color-outer-space">
                        $550,80
                      </div>
                    </div>
                    <div class="values w-100">
                      <div class="income-result d-flex w-100 justify-content-between lay-color-outer-space">
                        <span class="d-block">
                          Income
                        </span>
                        <span class="d-block">
                          $2.691,14
                        </span>
                      </div>
                      <div class="expense-result d-flex w-100 justify-content-between lay-color-comet">
                        <span>
                          Expense
                        </span>
                        <span>
                          $1.499,51
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 h-100">
                  <div class="bars-wrapper w-100 h-100 d-flex justify-content-end align-items-end">
                    <span class="bar-expense" data-percent='100'></span>
                    <span class="bar-income" data-percent='100'></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-transactions d-flex flex-column">
              <div class="title-wrapper w-100 d-flex align-items-center justify-content-between">
                <h4 class="lay-color-outer-space m-0">
                  Latest Transactions
                </h4>
                <a href="#" class="lay-color-comet">
                  Show all
                </a>
              </div>
              <div class="list-wrapper w-100">
                <ul>
                  <li>
                    <div class="item-transaction d-flex">
                      <div class="icon-wrapper d-flex align-items-center justify-content-center lay-bg-athens-gray lay-color-outer-space">
                        <i-feather name="user"></i-feather>
                      </div>
                      <div class="description-wrapper d-flex flex-column justify-content-center">
                        <h3 class="m-0 lay-color-outer-space">
                          Ebay - Bicycle
                        </h3>
                        <p class="m-0 lay-color-comet">
                          May, 5 2020
                        </p>
                      </div>
                      <div class="price-wrapper align-items-end d-flex align-items-center">
                        <b class="m-0 lay-color-outer-space d-block w-100 text-right">
                          - $1.600,00
                        </b>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-transaction d-flex">
                      <div class="icon-wrapper d-flex align-items-center justify-content-center lay-bg-athens-gray lay-color-outer-space">
                        <i-feather name="user"></i-feather>
                      </div>
                      <div class="description-wrapper d-flex flex-column justify-content-center">
                        <h3 class="m-0 lay-color-outer-space">
                          Ebay - Bicycle
                        </h3>
                        <p class="m-0 lay-color-comet">
                          May, 5 2020
                        </p>
                      </div>
                      <div class="price-wrapper align-items-end d-flex align-items-center">
                        <b class="m-0 lay-color-outer-space d-block w-100 text-right">
                          - $1.600,00
                        </b>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-transaction d-flex">
                      <div class="icon-wrapper d-flex align-items-center justify-content-center lay-bg-athens-gray lay-color-outer-space">
                        <i-feather name="user"></i-feather>
                      </div>
                      <div class="description-wrapper d-flex flex-column justify-content-center">
                        <h3 class="m-0 lay-color-outer-space">
                          Ebay - Bicycle
                        </h3>
                        <p class="m-0 lay-color-comet">
                          May, 5 2020
                        </p>
                      </div>
                      <div class="price-wrapper align-items-end d-flex align-items-center">
                        <b class="m-0 lay-color-outer-space d-block w-100 text-right">
                          - $1.600,00
                        </b>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-transaction d-flex">
                      <div class="icon-wrapper d-flex align-items-center justify-content-center lay-bg-athens-gray lay-color-outer-space">
                        <i-feather name="user"></i-feather>
                      </div>
                      <div class="description-wrapper d-flex flex-column justify-content-center">
                        <h3 class="m-0 lay-color-outer-space">
                          Ebay - Bicycle
                        </h3>
                        <p class="m-0 lay-color-comet">
                          May, 5 2020
                        </p>
                      </div>
                      <div class="price-wrapper align-items-end d-flex align-items-center">
                        <b class="m-0 lay-color-outer-space d-block w-100 text-right">
                          - $1.600,00
                        </b>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-transaction d-flex">
                      <div class="icon-wrapper d-flex align-items-center justify-content-center lay-bg-athens-gray lay-color-outer-space">
                        <i-feather name="user"></i-feather>
                      </div>
                      <div class="description-wrapper d-flex flex-column justify-content-center">
                        <h3 class="m-0 lay-color-outer-space">
                          Ebay - Bicycle
                        </h3>
                        <p class="m-0 lay-color-comet">
                          May, 5 2020
                        </p>
                      </div>
                      <div class="price-wrapper align-items-end d-flex align-items-center">
                        <b class="m-0 lay-color-outer-space d-block w-100 text-right">
                          - $1.600,00
                        </b>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
