<div id="mm-content-wrapper" class="full-page">
  <div class="w-100 h-100">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 h-100">
          <div class="dashboard-wrapper" [class.loading]="loadingData" [class.new-user]="newUser">
            <div class="feedback-new-user">
              <p class="app-color-aluminium">
                Your dashboard will be right here! <br>
                Try clicking on the + icon below.
              </p>
            </div>
            <div class="feedback-loading">
              <span class="icon-loader app-color-aluminium">
                <i-feather name="loader"></i-feather>
              </span>
              <p class="app-color-aluminium">
                We are preparing everything for you...
              </p>
            </div>
            <div class="box-header d-flex align-items-center">
              <h1 class="header-title app-color-outer-space m-0">
                MoneyManager
              </h1>
            </div>
            <div class="box-months d-flex align-items-center px-5">
              <div class="row no-gutters w-100 text-center app-color-outer-space">
                <div class="col-4">
                  <button class="app-color-aluminium rounded py-1 noselect" (click)="getPrevMonth()">
                    {{ month_names[(active_month === 0 ? 11 : active_month - 1)] }}
                    <small>{{ active_month === 0 ? active_year - 1 : (active_year !== current_year ? active_year : '') }}</small>
                  </button>
                </div>
                <div class="col-4">
                  <button class="font-weight-bold rounded py-1 noselect">
                    {{ month_names[active_month] }}
                    <small>{{ active_year !== current_year ? active_year : '' }}</small>
                  </button>
                </div>
                <div class="col-4">
                  <button
                    class="app-color-aluminium rounded py-1 noselect"
                    (click)="getNextMonth()"
                    [disabled]="(active_year === current_year && active_month === current_month)"
                  >
                    {{ month_names[(active_month === 11 ? 0 : active_month + 1)] }}
                    <small>{{ active_month === 11 ? active_year + 1 : (active_year !== current_year ? active_year : '') }}</small>
                  </button>
                </div>
              </div>
            </div>
            <div class="box-values">
              <div class="row no-gutters h-100">
                <div class="col-8 h-100">
                  <div class="w-100 h-100 d-flex flex-column align-items-center">
                    <div class="balance w-100 h-100 d-flex flex-column justify-content-center">
                      <div class="w-100 app-color-aluminium">
                        {{ active_year === current_year && active_month === current_month ? 'Balance' : 'Closed at' }}
                      </div>
                      <div class="w-100 main-value app-color-outer-space" *ngIf="data != null">
                        {{ getOutputMoney(data.incomeTotal - data.expenseTotal) }}
                      </div>
                    </div>
                    <div class="values w-100">
                      <div class="income-result d-flex w-100 justify-content-between app-color-outer-space">
                        <span class="d-block">
                          Income
                        </span>
                        <span class="d-block" *ngIf="data">
                          {{ getOutputMoney(data.incomeTotal) }}
                        </span>
                      </div>
                      <div class="expense-result d-flex w-100 justify-content-between app-color-comet">
                        <span>
                          Expense
                        </span>
                        <span *ngIf="data">
                          {{ getOutputMoney(data.expenseTotal) }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 h-100">
                  <div class="bars-wrapper w-100 h-100 d-flex justify-content-end align-items-end">
                    <span class="bar-expense" [attr.data-percent]="data ? data.expensePercent : 0"></span>
                    <span class="bar-income" [attr.data-percent]="data ? data.incomePercent : 0"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-transactions">
              <div class="title-wrapper w-100 d-flex align-items-center justify-content-between">
                <h4 class="app-color-outer-space m-0">
                  All Transactions
                </h4>
                <!--
                <a href="#" class="app-color-comet">
                  Show all
                </a>
                -->
              </div>
              <div class="list-wrapper w-100" *ngIf="data">
                <ul>
                  <li *ngFor="let item of data.transactions; index as i;">
                    <div class="item-transaction d-flex">
                      <div class="icon-wrapper d-flex align-items-center justify-content-center app-bg-athens-gray app-color-outer-space" [attr.title]="item.category ? item.category.name : 'Transaction'">
                        <i-feather name="{{ item.type === 'income' || !item.category ? 'dollar-sign' : item.category.icon }}"></i-feather>
                      </div>
                      <div class="description-wrapper d-flex flex-column justify-content-center">
                        <h3 class="m-0 app-color-outer-space">
                          {{ item.title }}
                        </h3>
                        <p class="m-0 app-color-comet">
                          {{ item.date | date }}
                        </p>
                      </div>
                      <div class="price-wrapper align-items-end d-flex align-items-center">
                        <b class="m-0 app-color-outer-space d-block w-100 text-right">
                          {{ (item.type === 'expense' ? '- ' : '') + getOutputMoney(item.price) }}
                        </b>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
