<div id="mm-content-wrapper" class="full-page">
  <form [formGroup]="profileForm" (ngSubmit)="update()" class="w-100 h-100">
    <div class="w-100 h-100">
      <div class="container h-100">
        <div class="row h-100 justify-content-center">
          <div class="col-12 text-center pt-5">
            <div class="profile-pick-wrapper">
              <div class="profile-pick">
                <file-pond #myPond 
                  [options]="pondOptions" 
                  [files]="pondFiles"
                  (onaddfile)="pondHandleAddFile($event)">
                </file-pond>
              </div>
            </div>
            <input class="field-inline-invisible font-weight-bold lay-color-outer-space font-lg w-100 text-center" 
              formControlName="name" />
            <div class="w-100 row no-gutters d-flex align-items-center justify-content-between">
              <div class="col py-4 text-center">
                <b class="lay-color-outer-space">255</b><br/>
                <span class="lay-color-aluminium">
                  Transactions
                </span>
              </div>
              <div class="col py-4 text-center">
                <b class="lay-color-outer-space">$ 2.568,000</b><br/>
                <span class="lay-color-aluminium">
                  In wallet
                </span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="field-theme-02-light mb-3" [class.filled]="profileForm.get('email').value.length">
              <input type="email" 
              placeholder="Email"
              formControlName="email"
              id="profile-email">
              <label for="profile-email">Email</label>
            </div>
            <div class="field-theme-02-light mb-3"
              [class.filled]="profileForm.get('birthday').value.length"
              [class.is-invalid]="profileSent && profileForm.controls.birthday.errors"
              [class.animate-shake]="birthdayAnimateShake">
              <input [type]="getBirthdayInputType()" 
              onfocus="(this.type='date')"
              onblur="if(!this.value)this.type='text'"
              formControlName="birthday"
              id="profile-birthday">
              <label for="profile-birthday">Birthday</label>
            </div>
          </div>
          <div class="col-12 pb-2">
            <button class="btn-border-outer-space btn-loader-effect w-100 font-weight-bold lay-bg-outer-space lay-color-athens-gray"
            [ngClass]="profileBtnStatus">
              <span class="btn-loader-text">
                Update!
              </span>
              <span class="btn-loader-icon-loading">
                <i-feather name="loader"></i-feather>
              </span>
              <span class="btn-loader-icon-ok">
                <i-feather name="check"></i-feather>
              </span>
              <span class="btn-loader-icon-error">
                <i-feather name="alert-triangle"></i-feather>
              </span>
            </button>
          </div>
          <div class="col-12 text-right align-self-end pb-4">
            <a (click)="httpService.logout()" title="Sign out" class="font-weight-bold text-decoration-none p-2 c-pointer">
              <span class="lay-color-aluminium">Sign out</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>