<div class="mm-main-wrapper"
[ngClass]="{ 'is-mobile': helperService.isMobile() }"
ontouchstart="" >
  <div class="disclaimer" [class.active]="disclaimer">
    <button (click)="callDisclaimer()">
      <i-feather name="help-circle"></i-feather>
    </button>
    <div class="alert">
      <p class="app-color-outer-space mb-2">
        <b>This is a demo application.</b>
      </p>
      <p class="app-color-outer-space mb-0">
        All the data stored here is <b>automatically deleted</b> after two months.
      </p>
    </div>
  </div>
	<div id="mm-wrapper-router"
  [attr.data-width]="dimension.x"
  [attr.data-height]="dimension.y"
	[ngClass]="centralized ? 'centralized' : ''">
    <span class="rule-x">
      <span class="number noselect"><span>100</span></span>
      <span class="number noselect"><span>200</span></span>
      <span class="number noselect c-pointer" (click)="setDimension('x', 300)"><span>300</span></span>
      <span class="number noselect c-pointer" (click)="setDimension('x', 400)"><span>400</span></span>
      <span class="number noselect c-pointer" (click)="setDimension('x', 500)"><span>500</span></span>
      <span class="number noselect c-pointer" (click)="setDimension('x', 600)"><span>600</span></span>
      <span class="number noselect"><span>700</span></span>
      <span class="number noselect"><span>800</span></span>
      <span class="number noselect"><span>900</span></span>
      <span class="number noselect"><span>1000</span></span>
    </span>
    <span class="rule-y">
      <span class="number noselect"><span>100</span></span>
      <span class="number noselect"><span>200</span></span>
      <span class="number noselect"><span>300</span></span>
      <span class="number noselect c-pointer" (click)="setDimension('y', 400)"><span>400</span></span>
      <span class="number noselect c-pointer" (click)="setDimension('y', 500)"><span>500</span></span>
      <span class="number noselect c-pointer" (click)="setDimension('y', 600)"><span>600</span></span>
      <span class="number noselect c-pointer" (click)="setDimension('y', 700)"><span>700</span></span>
      <span class="number noselect c-pointer" (click)="setDimension('y', 800)"><span>800</span></span>
      <span class="number noselect"><span>900</span></span>
      <span class="number noselect"><span>1000</span></span>
    </span>
		<div id="mm-wrapper-inner" [ngClass]="getRouteClass(routerOutlet)" class="box-general-content">
			<div id="mm-bg-elements">
				<div id="bg-up"></div>
				<div id="bg-down"></div>
			</div>
			<div class="w-100 h-100" [@inOutRoute]="prepareRoute(routerOutlet)">
				<router-outlet #routerOutlet="outlet"></router-outlet>
			</div>
			<div class="mm-menu-wrapper" *ngIf="httpService.checkAuth()" [@inOutMenu]>
				<app-menu></app-menu>
			</div>
		</div>
	</div>
  <div class="credit-bottom-left noselect">
    coded with <span role="img" aria-label="coffee">☕</span> by
    <strong><a href="https://www.linkedin.com/in/claudiobonfati/" target="_blank" class="text-white text-decoration-underline" title="LinkedIn Claudio Bonfati">Claudio Bonfati</a></strong>
  </div>
  <div class="credit-bottom-right noselect">design inspired by <strong><a href="https://www.linkedin.com/in/afipmaulana/" target="_blank" class="text-white text-decoration-underline" title="LinkedIn Afif Maulana">Afif Maulana</a></strong></div>
</div>
