<div class="mm-main-wrapper" 
[ngClass]="{ 'is-mobile': helperService.isMobile() }"
ontouchstart="" >
	<div id="mm-wrapper-router" 
	[ngClass]="centralized ? 'centralized' : ''">
		<div id="mm-wrapper-inner" [ngClass]="getRouteClass(routerOutlet)" class="box-general-content">
			<div id="mm-bg-elements">
				<div id="bg-up"></div>
				<div id="bg-down"></div>
			</div>
			<div class="w-100" [@inOutRoute]="prepareRoute(routerOutlet)">
				<router-outlet #routerOutlet="outlet"></router-outlet>
			</div>
			<div class="mm-menu-wrapper" *ngIf="httpService.checkAuth()" [@inOutMenu]>
				<app-menu></app-menu>
			</div>
		</div>
	</div>
</div>
