// ==========================================================================
// LAYOUT > MAIN
// ==========================================================================

#mm-wrapper-inner
  border-color: map-get($color-config, "outer-space") !important
  background-color: map-get($color-config, "outer-space")

#mm-bg-elements
  #bg-up  
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: calc(100% - 60px)
    background-color: #FAFBFC
    border-radius: 0 0 15px 15px
    @include transition(all 0.2s ease-out)
    transform: translateY(-100%)
  &.page-dashboard
    #bg-up
      transform: translateY(0%)

#mm-content-wrapper
  width: 100%
  height: 100%

#logo-mm
  max-width: 70%

*:focus
  -webkit-tap-highlight-color: transparent
  outline: none
  -ms-touch-action: manipulation
  touch-action: manipulation

.profile-pick
  display: inline-block
  width: 90px
  height: 90px
  border-radius: 35%
  position: relative
  overflow: hidden
  img 
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    object-fit: cover

.icon-25
  font-size: 25px
  line-height: 10px
  vertical-align: middle

