// ==========================================================================
// LAYOUT > MAIN
// ==========================================================================

#mm-wrapper-inner
  border-color: map-get($color-config, "outer-space") !important
  background-color: map-get($color-config, "outer-space")

#mm-bg-elements
  #bg-up
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: calc(100% - 60px)
    background-color: #f8f8f9
    border-radius: 0 0 15px 15px
    @include transition(all 0.2s ease-out)
    transform: translateY(-100%)

#mm-content-wrapper
  width: 100%
  height: 100%

#mm-wrapper-inner
  &.page-dashboard,
  &.page-profile,
  &.page-new-transaction
    #mm-bg-elements
      #bg-up
        transform: translateY(0%)
    #mm-content-wrapper
      height: calc(100% - 60px)
      padding-top: 20px
      padding-bottom: 20px
  #mm-content-wrapper
    height: 100%
    overflow-y: scroll
    -ms-overflow-style: !important

::-webkit-scrollbar
  display: none !important
::-webkit-scrollbar-track
  display: none !important
::-webkit-scrollbar-thumb
  display: none !important
.container
  padding: 0 20px

#logo-mm
  max-width: 70%

*:focus
  -webkit-tap-highlight-color: transparent
  outline: none
  -ms-touch-action: manipulation
  touch-action: manipulation

.profile-pick-wrapper
  display: inline-block
  width: 90px
  height: 90px
  position: relative
  .profile-pick
    display: inline-block
    width: 90px
    height: 90px
    border-radius: 35%
    position: relative
    overflow: hidden
    img
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      object-fit: cover
  button
    width: 40px
    height: 40px
    text-align: center
    border: 0
    position: absolute
    border-radius: 35%
    right: -5px
    bottom: -5px
    padding: 0

.icon-25
  font-size: 25px
  line-height: 10px
  vertical-align: middle

.feather-20
  width: 20px !important
  height: 20px !important

i-feather svg
  overflow: initial !important
  vertical-align: initial !important

.c-pointer
  cursor: pointer

.tab-transaction
  height: 100%
  .header
    --height: 60px
    position: relative
    overflow: hidden
    height: var(--height)
    ul
      list-style: none
      margin: 0
      padding: 0
      height: var(--height)
      position: relative
      z-index: 2
      display: -ms-flexbox
      display: -webkit-flex
      display: flex
      -webkit-flex-direction: row
      -ms-flex-direction: row
      flex-direction: row
      -webkit-flex-wrap: nowrap
      -ms-flex-wrap: nowrap
      flex-wrap: nowrap
      -webkit-justify-content: flex-start
      -ms-flex-pack: start
      justify-content: flex-start
      -webkit-align-content: stretch
      -ms-flex-line-pack: stretch
      align-content: stretch
      -webkit-align-items: flex-start
      -ms-flex-align: start
      align-items: flex-start
      li
        margin: 0
        padding: 0
        text-align: center
        height: var(--height)
        font-weight: bold
        @include transition(all 0.2s ease-out)
        -webkit-order: 0
        -ms-flex-order: 0
        order: 0
        -webkit-flex: 1 1 auto
        -ms-flex: 1 1 auto
        flex: 1 1 auto
        -webkit-align-self: center
        -ms-flex-item-align: center
        align-self: center
        display: -ms-flexbox
        display: -webkit-flex
        display: flex
        -webkit-justify-content: center
        -ms-flex-pack: center
        justify-content: center
        -webkit-align-items: center
        -ms-flex-align: center
        align-items: center
    .selector
      width: 50%
      height: var(--height)
      position: absolute
      background-color: map-get($color-config, "outer-space")
      left: 0
      z-index: 1
      top: 0
      -webkit-border-radius: 15px 15px 0 0
      -moz-border-radius: 15px 15px 0 0
      border-radius: 15px 15px 0 0
      @include transition(all 0.2s ease-out)
      .inner
        display: block
        width: 100%
        height: 100%
        position: absolute
        left: 0
        top: 0
        &::after,
        &::before
          content: ""
          width: 30px
          height: 30px
          -webkit-border-radius: 15px
          -moz-border-radius: 15px
          border-radius: 15px
          background: #f8f8f9
          z-index: 2
          position: absolute
          bottom: 0
        &::before
          left: -30px
        &::after
          right: -30px
      &::after,
      &::before
        content: ""
        background: map-get($color-config, "outer-space")
        z-index: 1
        width: 15px
        height: 15px
        position: absolute
        bottom: 0
      &::before
        left: -15px
      &::after
        right: -15px
  .content
    height: calc(100% - 60px)
    overflow: scroll
    @include transition(all 0.2s ease-out)
    background-color: map-get($color-config, "outer-space")
    -webkit-border-radius: 0 15px 15px 15px
    -moz-border-radius: 0 15px 15px 15px
    border-radius: 0 15px 15px 15px

  &.step-expense
    .header
      ul li
        &.expense
          color: map-get($color-config, "athens-gray")
        &.income
          color: map-get($color-config, "outer-space")
      .selector
        transform: translateX(0)
    .content
      -webkit-border-radius: 0 15px 15px 15px
      -moz-border-radius: 0 15px 15px 15px
      border-radius: 0 15px 15px 15px

  &.step-income
    .header
      ul li
        &.expense
          color: map-get($color-config, "outer-space")
        &.income
          color: map-get($color-config, "athens-gray")
      .selector
        transform: translateX(100%)
    .content
      -webkit-border-radius: 15px 0 15px 15px
      -moz-border-radius: 15px 0 15px 15px
      border-radius: 15px 0 15px 15px

.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

+media-breakpoint-down(xl)


+media-breakpoint-down(lg)

+media-breakpoint-down(md)
  #mm-wrapper-router
    .rule-x,
    .rule-y
      display: none
  [class*=credit-]
    display: none !important

+media-breakpoint-down(sm)
