<div id="mm-content-wrapper" class="full-page">
  <div class="w-100 h-100 px-3">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col text-center">
          <div class="w-100 mb-5">
            <img src="assets/images/logo-money-manager.svg" alt="{{ env.name }}" id="logo-mm" class="mb-2">
            <p class="app-color-aluminium">The easiest way to manage<br>
            your money.</p>
          </div>
          <div class="w-100">
            <a href="javascript:void(0);" title="Register" routerLink="/register" class="btn-border-athens-gray w-100 font-weight-bold app-color-outer-space app-bg-athens-gray text-decoration-none mb-3">
              New here? Register
            </a>
            <a href="javascript:void(0);" title="Sign in" routerLink="/login" class="btn-border-athens-gray w-100 font-weight-bold app-color-athens-gray text-decoration-none">
              Login
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
