<div class="menu-wrapper" #menuWrapper>
  <ul class="menu">
    <li routerLinkActive="active">
      <div class="eff-gooey"><span class="eff-top"></span></div>
      <a routerLink="/dashboard">
        <i-feather name="home"></i-feather>
      </a>
    </li>
    <li routerLinkActive="active">
      <div class="eff-gooey"><span class="eff-top"></span></div>
      <a routerLink="/new-transaction">
        <i-feather name="plus"></i-feather>
      </a>
    </li>
    <li routerLinkActive="active">
      <div class="eff-gooey"><span class="eff-top"></span></div>
      <a routerLink="/profile">
        <i-feather name="user"></i-feather>
      </a>
    </li>
  </ul>
</div>