<div class="menu-wrapper" #menuWrapper>
  <ul class="menu">
    <li routerLinkActive="active">
      <div class="eff-gooey"><span class="eff-top"></span></div>
      <a routerLink="/dashboard">
        <i-feather name="home"></i-feather>
      </a>
    </li>
    <li routerLinkActive="active">
      <div class="eff-gooey"><span class="eff-top"></span></div>
      <a routerLink="/new-transaction">
        <i-feather name="plus"></i-feather>
      </a>
    </li>
    <li routerLinkActive="active">
      <div class="eff-gooey"><span class="eff-top"></span></div>
      <a routerLink="/profile">
        <i-feather name="user"></i-feather>
      </a>
    </li>
    <li>
      <div class="eff-gooey"><span class="eff-top"></span></div>
      <a (click)="httpService.logout()">
        <i-feather name="user"></i-feather>
      </a>
    </li>
  </ul>
  <svg class="svg-gooey" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="goo">
        <feGaussianBlur id="blur" in="SourceGraphic" result="blur" stdDeviation="10" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 26 -9.5" result="goo" />
      </filter>
    </defs>
  </svg>
</div>