<div class="menu-wrapper" #menuWrapper>
  <ul class="menu">
    <li routerLinkActive="active">
      <div class="eff-gooey"><span class="eff-top"></span></div>
      <a routerLink="/dashboard">
        <i class="icomoon-home"></i>
      </a>
    </li>
    <li routerLinkActive="active">
      <div class="eff-gooey"><span class="eff-top"></span></div>
      <a routerLink="/new-transaction">
        <i class="icomoon-add-circle"></i>
      </a>
    </li>
    <li routerLinkActive="active">
      <div class="eff-gooey"><span class="eff-top"></span></div>
      <a routerLink="/register">
        <i class="icomoon-person"></i>
      </a>
    </li>
  </ul>
</div>